---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---


 * <b>Fattal J</b> & Mittal VA (Sept 2023). Autonomic activation during startle task in indviduals at clinical high-risk for psychosis, [Poster]. Society for Research In Psychopathology, St Lous, MO, United States.
 * Yao B, Rolfs M, Slate R, Roberts D, <b>Fattal J</b>, Achtyes ED, Tso IF, Diwadkar VA, Kashy D, Bao J, & Thakkar KN (May 2024). Abnormal oculomotor corollary discharge signaling as a trans-diagnostic mechanism of psychosis [Symposium]. Annual meeting of the Vision Science Society, St. Pete Beach, FL, United States. 
 * Lehet M, Rolfs M, Bao J, <b>Fattal J</b>, & Thakkar KN (Sept 2023). Pre-saccadic shifts of attention in individuals diagnosed with schizophrenia [Poster]. Society for Research In Psychopathology, St Lous, MO, United States.
 * Delay C, <b>Fattal J</b>, Bao J, Brascamp JW, Yao B, Roberts D, & Thakkar KN (Sept 2023).  Investigating the Mechanisms of Negative Symptoms: A Pupillometry Study [Poster]. Society for Research In Psychopathology, St Lous, MO, United States.
 * Roberts D, Yao B, Rolfs M, <b>Fattal J</b>, Bao J, Achtyes E, Tso I, Thakkar KN (Sept 2023). Corollary Discharge Associated with Saccadic Eye Movements in Individuals with Schizophrenia and Bipolar Disorder with Psychotic Features [Poster]. Society for Research In Psychopathology, St Lous, MO, United States.
 * <b>Fattal J</b>, Brascamp J, Slate RE, Achtyes ED, Lehet M, & Thakkar KN (2021). Abnormal Pupil Light Reflex Relates to Negative Symptom Severity and Working Memory in Schizophrenia [Poster], Schizophrenia International Research Society, virtual.
 


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
